:root {
    --primary-color: #F20519;
    --secondary-color: #D90416;
    --tertiary-color: #A60311;
    --quaternary-color: #4B72A6;
    --quinary-color: #BDD9F2;
    --light-color: white;
    --dark-color: black;
    --greyscale-color: #333333;
}