:root {
    --primary-color: #8C1F28;
    --secondary-color: #591C21;
    --tertiary-color: #044040;
    --quaternary-color: #044040;
    --quinary-color: #D92525;
    --light-color: white;
    --dark-color: black;
    --greyscale-color: #333333;
}

body {
    height: 100vh;
    width: 100vw;
}